.app {
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}


.app button {
  color: white;
  cursor: pointer!important;
  
}

.app button:nth-child(1) {
  margin-right: 5px;
  background-color: red!important;
  padding: 5px;
  
  outline: none ;
  border-radius: 20px;


}



.app button:nth-child(2){
  padding: 5px;
  outline: none;
  background-color:#282C34;
  border-radius: 20px;
  
}